.styled-table {
  border-collapse: collapse;

  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 50%;
  min-width: 400px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #48bb78;
  color: #ffffff;
  text-align: left;
  border: 2px solid #48bb78;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table > tbody > tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table > tbody > tr > td:first-of-type {
  border-left: 2px solid #48bb78;
}
.styled-table > tbody > tr > td {
  border-right: 1px solid #48bb78;
}

.styled-table > tbody > tr {
  border-bottom: 1px solid #48bb78;
}

.styled-table > tbody > tr:last-of-type {
  border-bottom: 2px solid #48bb78;
}

.styled-table > thead > tr > th:hover,
.styled-table > tbody > tr:hover {
  font-weight: bold;
  background-color: #555;
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #48bb78;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #555;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  display: flexbox;
}

header {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
}

main {
  margin-top: 350px;
} */
/* header {
  position: fixed;
} */

.header {
  display: flex;
  flex-direction: column;
}

.header a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 3rem;
}
